/

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height:normal;
  font-size:large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {

  font-family: Arial, Helvetica, sans-serif;
  font-size:medium;
  color: white;
  background-color: rgb(0, 0, 0);

}

footer {
  background-color: rgb(185, 90, 109);
  padding: 0.5em;
  border-radius: 1.5em;
}

hr {
  background: rgb(148, 235, 72);
  height: 2.5px;
  border: 0.25em;
  margin-top: 1em;
  margin-bottom: 1em;

 
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  align-items: initial;
  border-radius: 1em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height:normal;
  letter-spacing: -0.045em;
  padding: 0.5em;
  padding-left: 0.5em;
  
}

h2,
h3,
h4,
h5,
h6 {
  font-weight:bold;
  color: white;
  background-color: rgb(49, 47, 47);
}

h1 {
  font-weight:bolder;
  font-size: 1.25em ;
  color: whitesmoke;
  background-color: rgb(41, 38, 38);
}

h2 {
  font-size:initial;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size:1em;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: rgb(33, 33, 134);
  color: inherit;
}

/* Prose */

p {
   display: block;
  line-height: 1.5em;
 
}

ul,
ol {
  
  margin-left: 0.25em;
  margin-right: 0.25em;
  padding: 0.5em;
  margin-bottom: 1em;
  list-style-position: outside;
  list-style-image: none;
 
}

ul li,
ol li {

  padding-left: 0.5em;
  margin-bottom: 2em;
 
}

li > p {
 
  
  
}

li *:last-child {
 
}

li > ul {

}

blockquote {
  color: rgb(71, 238, 0);
  margin-left: 0.45em;
  margin-right: 0.45em;
  padding: 0.25em;
  border-left: 1em solid white;
  font-size: 1em;
  font-style: italic;
  margin-bottom: 1em;;
}

blockquote > :last-child {
  margin-bottom: 0.25em;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: 0.5em;
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {

}

/* Link */

a {
  color: 
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.global-wrapper {
  display: inline;

}

.global-wrapper[data-is-root-path="true"] .bio {
  
  display: inline;
}

.global-header {
  margin-bottom: 5%;

}

.main-heading {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display:inline-block;
  font-size:2em;
  background-color: black;
  margin-top: 2%;
  margin-left: 45%;
  margin-bottom: auto;
  border: white;
  border-right: solid;
}
.bio {
   display: inline-block;
  text-align: center;
  background-color: blanchedalmond;
 
  
}

.bio p {

  text-align: center;
  margin-left: 30%;

}

.bio-avatar {
  margin-left: 48%;
  border-radius: 100%;

}
.post-list-item {
display:inline-block;
}

.post-list-item p {
  display: inline-block;

}


.post-list-item h2 {
  
  
}

.post-list-item header {
 
  
}

.header-link-home {

  
}



.blog-post header h1 {

  
}

.blog-post header p {

  
}

.blog-post-nav ul {
 
  
}

.gatsby-highlight {


}


.t_d{
  display: inline-flex; 

  padding: 0.5em;
  border-radius: 10%;
  text-align: center;
  border-bottom: solid white;
}

.storylog{
  padding:0.5em;
  display: inline-block;
  border:solid black;
  color: black;
   background: seashell;
}













/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
